<div class="container-recipe">
    <div class="single-recipe">
        <h2>
            <%= @recipe.name %>
        </h2>
        <div class="details">
            <div class="preparation flex justify-between">
                <h6 class="prep">
                    Preparation time: <%= @recipe.preparation_time %> hours
                </h6>
                <div>
                    <div>
                     <span class="<%=@recipe.public ? "bg-slate-200 text-gray-800 " : "bg-red-300 text-white "%>text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"><%=@recipe.public ? "Public" : "Private"%></span>
                    </div>
                    <%if can? :update, @recipe%>
                        <%= form_with model: @recipe, url: recipe_path(@recipe), method: :put, local: true, scope: :recipe, class: "checkbox-form" do |f| %>
                            <label class="relative inline-flex items-center cursor-pointer">
                                <%= f.check_box :public, :class => "checkbox-class sr-only peer", checked: @recipe.public %>
                                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ml-3 text-sm font-medium text-white dark:text-gray-300">Make Public</span>
                            </label>
                        <%end%>
                    <%end%>

                    <script>
                        const form = document.querySelector('.checkbox-form')
                        const checkBox = document.querySelector('.checkbox-class')
                        checkBox.addEventListener('change', () => {
                            form.submit()
                        })
                    </script>
                </div>
            </div>
            <h6 class="prep">
                Cooking time: <%= @recipe.cooking_time %> hours
            </h6>
            <h6 class="prep">
                <%= @recipe.description%>
            </h6>
        </div>
        <%if can? :manage, @recipe%>
            <div class="buttons">
                <%=link_to "Generate shopping list", "/general_shopping_list"%>
                <%=link_to "Add ingredients", "/recipes/#{@recipe.id}/recipe_foods/new"%>
                <%# <a href="">Add ingredients</a> %>
            </div>
        <%end%>
    </div>

    <table class="table">
        <thead class="table-head">
            <tr>
                <th>
                    Food
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <%if can? :manage, @recipe%>
                    <th>
                        Actions
                    </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <%@foods.each_with_index do |item, index| %>
              <tr class="table-row">
                <td>
                    <%=item.food.name%>
                </td>
                <td>
                    <%=item.food.quantity%> <%=item.food.measurement_unit%>
                </td>
                <td>
                    $<%=item.food.price%>
                </td>
                <%if can? :manage, @recipe%>
                    <td>
                        <a href="#" class="btn modify">Modify</a>
                        <%= button_to 'Remove',recipe_recipe_food_path(@recipe,item), method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }, class: 'btn' %>

                    </td>
                <%end%>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
