<div class="bg-slate-500/60 h-full flex flex-col items-center pt-5 gap-4">
<div class="shadow-md sm:rounded-lg h-full max-w-[700px] w-full  mx-auto flex flex-col mt-5">
<a type="button" href="/foods/new" class="w-[100px] self-end text-white bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
Add Food
</a>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-gray-900">
                    Food
                </th>
                <th scope="col" class="px-6 py-3 text-gray-900">
                    Measurement Unit
                </th>
                <th scope="col" class="px-6 py-3 text-gray-900">
                    Unit Price
                </th>
                <th scope="col" class="px-6 py-3 text-gray-900">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <%@foods.each_with_index do |item, index| %>
              <% if can? :read, item%>
                <tr class="<%=index.even? ? "bg-slate-200" : "bg-white"%> border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%=item.name%>
                    </th>
                    <td class="px-6 py-4 text-gray-900">
                        <%=item.measurement_unit%>
                    </td>
                    <td class="px-6 py-4 text-gray-900">
                        $<%=item.price%>
                    </td>
                    <td class="px-6 py-4 text-gray-900">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                    </td>
                </tr>
             <% end %>
            <% end %>
        </tbody>
    </table>
        <p class="mx-auto mt-5"><%="There is no food" if @foods.empty?%></p>
</div>
</div>
