<!DOCTYPE html>
<html>
  <head>
    <title>RoRGroupCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%# <% flash.each do |type, msg| %>
      <div class="p-4 w-[500px] mb-4 text-sm text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400 absolute" role="alert">
        <span class="text-green-800 font-md">Success alert!</span> <%=msg%>
      </div>
    <% end %> %>
    <main class="mx-auto relative h-full">
      <%= yield %>
    </main>
  </body>
</html>
